.registrar {
    width: 375px;
    background-color: #529f85;
    padding: 34px;
    border-radius: 25px;
    border: solid 2px;
}
#mismensajes{
    position: absolute;
    right: 0px;
    width: 375px;

}